<article class="col-md-6" id ="bloc-info">
    <div class="well well-sm">
        <h4 class="titre-head"><i class="fa fa-home"></i> Πληροφορίες Λογαριασμού</h4>
        <div class="trait"></div>
        <p><i class="fa fa-map-marker"></i> <strong>Συνδεθήκατε από την Ip</strong></p>
        <ul>
            <li><strong class="text-success">{{ ipUser }}</strong></li>
        </ul>
        <p><i class="fa fa-hdd-o"></i> <strong>Ο χώρος του δίσκου</strong></p>
        <p class="text-center text-defaut-color">
            Χρησιμοποιήτε το : <strong>{{ user.userdisk.percentage_used }}%</strong>
            <em>δηλαδή {{ user.userdisk.used_disk}} από {{ user.userdisk.total_disk }} ( {{ user.userdisk.free_disk }}  )</em>
        </p>
        <div class="progress progress-striped fix-progress">
            <div class="progress-bar {{ user.userdisk.progessBarColor }}" role="progressbar" aria-valuenow="{{ user.userdisk.percentage_used }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ user.userdisk.percentage_used }}%;">
                <span class="sr-only">{{ user.userdisk.percentage_used }}% Ολοκληρωμένο</span>
            </div>
        </div>

        <p><i class="fa fa-clock-o"></i> <strong>Ο Σερβερ είναι σε λειτουργία</strong></p>
        <ul>
            <li><strong class="text-success">{{ serveur.getUptime }}</strong></li>
        </ul>

        <p><i class="glyphicon glyphicon-stats"></i> <strong>Φόρτο εργασίας του σέρβερ</strong></p>
        <ul>
            <li style="cursor:default;">
                <span class="text-defaut-color">μέσο φορτίο : </span>
                <span data-original-title="Μέσος όρος φορτίου για 1 λεπτό" class="label label-primary load-average">{{ serveur.load_average.load_average.0 }}</span>
                <span data-original-title="Μέσος όρος φορτίου για 5 λεπτά" class="label label-primary load-average">{{ serveur.load_average.load_average.1 }}</span>
                <span data-original-title="Μέσος όρος φορτίου για 15 λεπτά" class="label label-primary load-average">{{ serveur.load_average.load_average.2 }}</span>
            </li>
            <li id="load-info">{{ serveur.load_average.info_charge|raw }}</li>
        </ul>
    </div>
</article>
