<!-- MODAL BOOTSTRAP -->
<div class="modal fade" id="popupreboot" tabindex="-1" role="dialog" aria-labelledby="target-rtorrent" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="target-rtorrent">Προειδοποίηση</h4>
            </div>
            <div class="modal-body">
                <p>Είσαστε βέβαιοι ότι θέλετε να επανεκκινήσετε την εργασία rtorrent ?</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ακύρωση</button>
                <form action="index.php" method="post">
                    <input type="hidden" name="reboot">
                    <input type="submit" value="Επιβεβαίωση" class="btn btn-info">
                </form>
            </div>
        </div>
    </div>
</div>

<!-- popup about us -->
<div class="modal fade" id="popupinfo" tabindex="-1" role="dialog" aria-labelledby="target-about-us" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="target-about-us">Πληροφορίες</h4>
            </div>
            <div class="modal-body">
                <p class="textmodaleabout">Seeddox Manager &amp; Atithasos</p>
                <p class="textmodaleabout">Επικοινωνήστε μαζί μας : <a href="http://www.atithasosbiz/seedbox/cart.php" target="_blank">http://www.atithasosbiz/seedbox/cart.php</a></p>
                <p class="textmodaleabout"><strong>Version 1.0.2</strong></p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Κλείσιμο</button>
            </div>
        </div>
    </div>
</div>

{% if user.is_owner == true and get.admin is defined %}
<!-- popup delete user -->
<div class="modal fade" id="delete-user" tabindex="-1" role="dialog" aria-labelledby="target-delete-user" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="target-delete-user"></h4>
            </div>
            <div class="modal-body">
                <p>Είστε σίγουροι ότι θέλεται να διαγράψετε την διαμόρφωση του χρήστη ?</p>
                <p>Η δράση αυτή είναι αναστρέψιμη.<br>Μόλις ο χρήστης συνδεθει, τα αρχεία ρυθμησεων θα δημιουργηθούν αυτίματα (με προεπιλεγμένη ρύθμηση).</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Ακύρωση</button>
                <form action="index.php?admin" method="post">
                    <input type="hidden" name="deleteUserName" id="deleteUserName">
                    <input type="submit" value="Κατάργηση" class="btn btn-danger">
                </form>
            </div>
        </div>
    </div>
</div>
{% endif %}
